# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/capture_service/build  

# distribution
/dist
/capture_service/dist

# misc
.DS_Store
.env
.env.dev
/capture_service/capture.spec

# vscode
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
