@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Maven Pro, sans-serif;
}

.container {
    overflow: hidden;
	display: flex;
	justify-content: center;
	height: 600px;
	max-width: 400px;
}

.screen {		
	background: linear-gradient(0deg, #1d8bc3, #04c9a8);		
	position: relative;	
	height: 600px;
	width: 400px;	
}

.title {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 25px;
}

.content {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    --mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 3%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);

    -webkit-mask: var(--mask); 
    mask: var(--mask);
}

.content__scroll_bottom {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    --mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 97%, rgba(0, 0, 0, 0) 100%);

    -webkit-mask: var(--mask); 
    mask: var(--mask);
}

::-webkit-scrollbar {
    display:none;
}

.col {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    color: #fff;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 15px;
    color: #fff;
    text-align: center;
}

.status__active {
    color: #04c9a8;
    display: inline;
}

.status__inactive {
    color: #c9040498;
    display: inline;
}

.info__bar {
    height: 100%;
    float: right !important;
}

.card {
    border-radius: 15px;
    transition: all ease 200ms;
    backdrop-filter: blur(20px);
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    box-shadow: 0 10px 26px 0 rgba(0,0,0,.15);
    color: white;
}

.card:hover {
    transform: scale(1.02);
}

.non__selectable {
    -webkit-user-select: none;
}

.draggable {
    -webkit-app-region: drag;
}

.non__draggable {
    -webkit-app-region: no-drag;
}