.app {
  text-align: center;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid white;
  border-radius: 20px;
}

.time {
  font-size: 3rem;
}

.stop__button,
.start__button {
  padding: .6rem 1.5rem;
  margin: .4rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8rem;
  border-style: none;
  color: #000;
  background: #fff;
}

.start__button[disabled],
.stop__button[disabled] {
  background: rgba(187, 187, 187, 0.579) !important;
  color: white !important
}

.start__button:focus {
  outline-width: 0;
}

.start__button:hover,
.start__button:active {
  background-color: #42ae6f !important;
}

.stop__button:hover,
.stop__button:active {
  background-color: #ff0000 !important;
}